<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
  <!-- Servlets -->
  
  	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>

	
	<servlet>
		<servlet-name>creerAlerte</servlet-name>
		<servlet-class>com.rue.servlet.Form</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>creerAlerte</servlet-name>
		<url-pattern>/creerAlerte</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mesAlertes</servlet-name>
		<servlet-class>com.rue.servlet.MesAlertes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mesAlertes</servlet-name>
		<url-pattern>/mesAlertes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FormServlet</servlet-name>
		<servlet-class>com.rue.servlet.Form</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FormServlet</servlet-name>
		<url-pattern>/alerte</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LesAlertes</servlet-name>
		<servlet-class>com.rue.servlet.LesAlertes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LesAlertes</servlet-name>
		<url-pattern>/lesalertes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddVote</servlet-name>
		<servlet-class>com.rue.servlet.AddVote</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddVote</servlet-name>
		<url-pattern>/addVote</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>Preference</servlet-name>
		<servlet-class>com.rue.servlet.Preference</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Preference</servlet-name>
		<url-pattern>/preference</url-pattern>
	</servlet-mapping>

  <session-config>
        <session-timeout>
            30
        </session-timeout>
  </session-config>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Jaidemarue.jsp</welcome-file>
  </welcome-file-list>

</web-app>
