/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
#principal-h1 {
  font-size: 3em;
  font-weight: bold;
  color: #FEFEFE;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#footer {
	background-color:#669933;
	text-align:center;
	clear:both;
}

#menu {
  position: absolute;
  top: 1em;
  left: 1%;
  width: 25%;
}

@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	font-family:'Abel', arial, serif; 
    background:#313131 url(../img/fond.jpeg) no-repeat top center;
}

#conteneur-menu2 {
	height: 150px;
	width: 220px;
	padding-top: 20px;
	margin: 150px auto 0px auto;
}

#conteneur-menu2 ul {
	padding: 0;
	margin: 0;
	margin-left: 50px;
	float: left;
}

#conteneur-menu2 ul li {
	list-style: none;
	padding: 0px;
		text-transform: uppercase;
}

#conteneur-menu2 ul li a {
	text-decoration: none;
	font-size: 25px;
	padding: 4px;
	display: block;
	color: white;
	background: transparent;
	width: 300px;
	-moz-transition: all .5s; 
    -webkit-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
    line-height: 20px;
}

#conteneur-menu2 ul li a:hover {
	background: #54B6A8;
	padding-left: 20px;
	width: 330px;
	-moz-transition: all .5s; 
    -webkit-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
}

#content{
  width:300px;
  height:100%;
  color:black;
}